*{<meta charset="utf-8">}*
#{extends 'Application/main.html' /}

<div class="wrapper">
  <h1 class="logo">
    &{"top.title"}
  </h1>

  <div class="dialog">

    <h2>&{"secure.title"}</h2>
    #{if flash.success}
    <div class="success">
      ${messages.get(flash.success)}
    </div>
    #{/if}
    #{if flash.error}
    <div class="error">
      ${messages.get(flash.error)}
    </div>
    #{/if}

    #{form @authenticate()}
      #{field "username"}
      <label>&{"form.email"}</label>
      <input type="text" name="${field.name}" placeholder="&{"form.name"}">
      #{/field}
      #{field "password"}
      <label>&{"form.password"}</label>
      <input type="password" name="${field.name}" placeholder="&{"form.password"}">
      #{/field}
      #{field "remember"}
      <div class="center quiet">
        <input type="checkbox" id="${field.name}" name="${field.name}" value="true" ${flash.remember ? 'checked="true"' : ''}>&{"secure.remember"}
      </div>
      #{/field}
      <input type="submit" value="&{"secure.login"}">
    #{/form}

    <span class="quiet">
      &{"register.noAccount"}<a href="@{Register.signup()}">&{"register.here"}</a>
    </span>

  </div>
</div>