* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Mplus 1p";
    word-break: break-all;
    background: #F0F0F0;
}

.top-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    position: fixed;
    background: #EEE;
    border-bottom: 8px solid #8c8;
    z-index: 5;
}

.top-header .left {
    display: flex;
    justify-content: center;
    margin: auto 20px;
    font-size: 2.4em;
    font-weight: bold;
}

.top-header .right {
    display: flex;
    justify-content: center;
    margin: auto 20px;
    color: #4A6;
}

.button {
    min-width: 100px;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
    color: #000;
    background: #CCC;
    text-align: center;
    text-decoration: none;
}

.green {
    color: #FFF;
    background: #6B6;
}

.top-article {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 140px 60px 40px;
    background: #FFF;
    text-align: center;
}

.large {
    font-size: 1.5em;
}

.logo {
    color: #486;
    font-size: 2.4em;
    text-align: center;
}

.white-logo {
    color: #EFE;
    font-size: 2.4em;
    text-align: center;
}

.wrapper {
    display: block;
    width: 500px;
    height: 100%;
    margin: 0 auto;
    padding: 50px 0;
}

.dialog {
    width: 100%;
    left: 0;
    right: 0;
    padding: 40px 50px;
    margin: 50px auto;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.2);
}

.dialog h2 {
    text-align: center;
    font-size: 1.6em;
    margin-bottom: 20px;
}

.dialog label {
    display: block;
    margin: 0.6em 0 0.2em;
    font-size: 1.2em;
    font-weight: bold;
}

.dialog form {
    display: block;
}

.dialog form input {
    display: block;
    width: 100%;
    height: 2em;
    padding: 0 0.4em;
    font-size: 1.2em;
    border: solid 2px #DDD;
    border-radius: 5px;
    background: #FAFAFA;
}

.dialog form input[type="checkbox"] {
    display: inline;
    margin: 1.5em 0.5em 0;
    width: auto;
    height: auto;
}

.dialog form input[type="submit"] {
    margin-top: 1em;
    margin-bottom: 0.6em;
    border: none;
    color: #FFF;
    background: #0C4;
}

.dialog form input[type="submit"][disabled] {
    background: #DDD;
}

.dialog .alert {
    color: #D00;
}

.dialog .error {
    display: block;
    padding: 0 0.2em;
    background: rgba(255, 0, 0, 0.1);
    color: #D00;
}

.dialog .success {
    display: block;
    padding: 0 0.2em;
    background: rgba(0, 255, 0, 0.1);
    color: #090;
}

.quiet {
    color: #999;
}

.center {
    text-align: center;
}

.board-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    position: fixed;
    background: #40A060;
    color: #FFF;
    z-index: 5;
}

.board-header .left {
    display: flex;
    justify-content: center;
    margin: auto 20px;
    font-size: 2.4em;
    font-weight: bold;
}

.board-header .right {
    display: flex;
    justify-content: center;
    margin: auto 20px;
    color: #4A6;
}

.board-wapper {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 140px 40px 40px;
    background: #80D0A0;
}

.board {
    max-height: calc(100% - 250px);
    display: flex;
    list-style: none;
}

.list {
    margin: 10px;
    border-radius: 5px;
    padding: 0 5px;
    background: #DEC;
    flex: 1;
}

.list-header {
    border-bottom: 2px solid #ADB;
    color: #486;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}

.tasks {
    max-height: calc(100% - 90px);
    position: relative;
    display: flex;
    flex-direction: column;
}

.list-body {
    max-height: calc(100% - 90px);
    position: relative;
    margin-top: 20px;
    padding: 0 16px 10px;
    overflow-y: scroll;
}

.list-body::-webkit-scrollbar {
    height: 10px;
    width: 10px;
}

.list-body::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.6);
}

.task {
    position: relative;
    margin: 5px;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
    background: #FFF;
    cursor: pointer;
}

.task-title {
    margin-bottom: 5px;
    padding-right: 1em;
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 1px solid #DDD;
}

.task-detail {}

.task-due {
    color: #AAA;
}

.task-priority {
    width: 24px;
    height: 24px;
    border-radius: 20px;
    border: 1px solid #BDB;
    background: #EFE;
    color: #684;
    position: absolute;
    text-align: center;
    right: 6px;
    top: 6px;
}

.task-load {
    margin: 5px;
    bottom: 0;
    text-align: center;
    color: #BBB;
    cursor: pointer;
}

.new-task {
    display: block;
    min-width: 360px;
    max-width: 760px;
    margin: 0 auto 20px;
    padding: 10px;
    background: #DEC;
    border-radius: 5px;
}

.move-task {
    position: absolute;
    width: 30px;
    height: 80%;
    top: 0;
    bottom: 0;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 10;
}

.move-task-left {
    left: 0;
    background: transparent;
}

.move-task-left:hover {
    background: linear-gradient(to top right, transparent 50%, rgba(220, 240, 220, 0.6) 50%) no-repeat bottom left/100% 50%,
    linear-gradient(to bottom right, transparent 50%, rgba(220, 240, 220, 0.6) 50%) no-repeat top right/100% 50%;
}

.move-task-right {
    right: 0;
    background: transparent;
}

.move-task-right:hover {
    background: linear-gradient(to bottom left, transparent 50%, rgba(220, 240, 220, 0.6) 50%) no-repeat top left/100% 50%,
    linear-gradient(to top left, transparent 50%, rgba(220, 240, 220, 0.6) 50%) no-repeat bottom right/100% 50%;
}

.new-task-header {
    margin-bottom: 5px;
    text-align: center;
    color: #684;
    font-weight: bold;
    font-size: 1.4em;
    border-bottom: 2px solid #ADB;
}

.new-task-infos {
    display: flex;
    list-style: none;
}

.new-task-info {
    margin: 5px 5px 0;
    flex: 1;
}

.new-text {
    resize: none;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    border: 2px solid #CDC;
}

.new-datetime {
    resize: none;
    width: calc(100% - 60px);
    margin-left: 5px;
    padding: 1.5px 5px;
    border-radius: 5px;
    border: 2px solid #CDC;
}

.new-number {
    resize: none;
    width: calc(100% - 60px);
    margin-left: 5px;
    padding: 4px 5px;
    border-radius: 5px;
    border: 2px solid #CDC;
}

.new-label {
    text-align: right;
    display: inline-block;
    width: 55px;
}

.flex-two {
    flex: 2;
}

.flex-three {
    flex: 3;
}

.new-create {
    cursor: pointer;
}
