* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Mplus 1p";
    word-break: break-all;
    background: #F0F0F0;
}

.top-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    position: fixed;
    background: #EEE;
    border-bottom: 8px solid #8c8;
    z-index: 5;
}

.top-header .left {
    display: flex;
    justify-content: center;
    margin: auto 20px;
    font-size: 2.4em;
    font-weight: bold;
}

.top-header .right {
    display: flex;
    justify-content: center;
    margin: auto 20px;
    color: #4A6;
}

.button {
    min-width: 100px;
    margin: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 1.2em;
    font-weight: bold;
    color: #000;
    background: #CCC;
    text-align: center;
    text-decoration: none;
}

.green {
    color: #FFF;
    background: #6B6;
}

.top-article {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 140px 60px 40px;
    background: #FFF;
    text-align: center;
}

.large {
    font-size: 1.5em;
}

.logo {
    color: #486;
    font-size: 2.4em;
    text-align: center;
}

.wrapper {
    display: block;
    width: 500px;
    height: 100%;
    margin: 0 auto;
    padding: 50px 0;
}

.dialog {
    width: 100%;
    left: 0;
    right: 0;
    padding: 40px 50px;
    margin: 50px auto;
    border-radius: 10px;
    background: #FFF;
    box-shadow: 0 1px 10px 0px rgba(0, 0, 0, 0.2);
}

.dialog h2 {
    text-align: center;
    font-size: 1.6em;
    margin-bottom: 20px;
}

.dialog label {
    display: block;
    margin: 0.6em 0 0.2em;
    font-size: 1.2em;
    font-weight: bold;
}

.dialog form {
    display: block;
}

.dialog form input {
    display: block;
    width: 100%;
    height: 2em;
    padding: 0 0.4em;
    font-size: 1.2em;
    border: solid 2px #DDD;
    border-radius: 5px;
    background: #FAFAFA;
}

.dialog form input[type="checkbox"] {
    display: inline;
    margin: 1.5em 0.5em 0;
    width: auto;
    height: auto;
}

.dialog form input[type="submit"] {
    margin-top: 1em;
    margin-bottom: 0.6em;
    border: none;
    color: #FFF;
    background: #0C4;
}

.dialog form input[type="submit"][disabled] {
    background: #DDD;
}

.dialog .alert {
    color: #D00;
}

.dialog .error {
    display: block;
    padding: 0 0.2em;
    background: rgba(255, 0, 0, 0.1);
    color: #D00;
}

.dialog .success {
    display: block;
    padding: 0 0.2em;
    background: rgba(0, 255, 0, 0.1);
    color: #090;
}

.quiet {
	color: #999;
}

.center {
    text-align: center;
}