*{<meta charset="utf-8">}*
#{extends 'Application/main.html' /}

<h1>登録</h1>

#{form @postRegister()}
<p>
  #{field "name"}
  <input type="text" id="name" name="${field.name}" placeholder="ユーザ名" value="${post?.name}" onblur="checkName()">
  <span id="name_error" class="error"></span>
  #{/field}
</p>
<p>
  #{field "email"}
  <input type="email" id="email" name="${field.name}" placeholder="メールアドレス" value="${post?.email}" onblur="checkEmail()">
  <span id="email_error" class="error"></span>
  #{/field}
</p>
<p>
  #{field "password"}
  <input type="password" id="password" name="${field.name}" placeholder="パスワード(8~20字)" onblur="checkPassword()">
  <span id="password_error" class="error"></span>
  #{/field}
</p>
<p>
  <input type="submit">
</p>
#{/form}
  