*{<meta charset="utf-8">}*
#{extends 'Application/main.html' /}

<h1>登録</h1>

#{if flash.error}
  <p class="error">
    ${messages.get(flash.error)}
  </p>
#{/if}
#{if flash.success}
  <p class="success">
    ${messages.get(flash.success)}
  </p>
#{/if}

#{form @confirm()}
<p>
  #{field "name"}
  <input type="text" id="name" name="${field.name}" placeholder="ユーザ名" value="${session?.name}" onblur="check('name')">
  <span id="name_error" class="error"></span>
  #{/field}
</p>
<p>
  #{field "email"}
  <input type="text" id="email" name="${field.name}" placeholder="メールアドレス" value="${session?.email}" onblur="check('email')">
  <span id="email_error" class="error"></span>
  #{/field}
</p>
<p>
  #{field "password"}
  <input type="password" id="password" name="${field.name}" placeholder="パスワード(8~20字)" onblur="check('password')">
  <span id="password_error" class="error"></span>
  #{/field}
</p>
<p>
  <input type="submit">
</p>
#{/form}
